# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# CDK
**/cdk.out/
**/.cdk.staging/
**/cdk.context.json

# Node.js
**/node_modules/
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Build artifacts
**/dist/
**/build/

# TypeScript
**/*.tsbuildinfo

# Go
**/vendor/
**/*.exe
**/*.test

# Environment files
**/.env
**/.env.*
!**/.env.example

# Logs
**/*.log
